body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Rancho', cursive;
    font-variant-caps: small-caps;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("https://cdn.pixabay.com/photo/2016/11/22/22/11/paint-1850856__340.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* --------------------------------------------------NAVIGATION-BAR */

.navigation {
    display: flex;
    justify-content: center;
    font-size: 23px;
    flex-wrap: wrap;
    margin: 0;
    position: relative;
}

li {
    list-style: none;
    padding: 4px 19px;
}

a {
    color: white;
    text-decoration: none;
}

li {
    display: flex;
    position: relative;
}

li::after {
    content: '';
    position: absolute;
    background-color: white;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    transition: 0.5s;
}

li:hover::after {
    width: 100%;
    height: 2px;
}

.right {
    position: absolute;
    right: 2px;
    top: 0;
}

button.btn {
    background: none;
    border: 2px solid white;
    border-radius: 17px;
    margin: 7px 4px 0px 0px;
    padding: 6px 10px;
    color: white;
    font-family: cursive;
    font-size: 12px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px 4px 9px 0px rgba(255, 255, 255, 0.75);
}

span {
    background-color: rgba(172, 172, 172, 0.75);
    height: 100%;
    width: 0;
    border-radius: 17px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.3s;
    z-index: -1;
}

.btn:hover span {
    width: 100%;

}

/*-------------------------------------------------------- SNB-ART */

.mid {
    text-align: center;
    font-size: 35px;
    color: white;
    margin: 50px;
    padding: 10px;

}

/*--------------------------------------------------- SEE-MORE-DESIGN */

.design {
    text-align: center;
}

button.btn1 {
    margin: 9px;
    padding: 9px;
    font-family: 'Rancho', cursive;
    font-size: 23px;
    background: none;
    border: 2px solid white;
    border-radius: 25px;
    color: whitesmoke;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px 4px 9px 0px rgba(255, 255, 255, 0.75);
}

.btn1:hover span {
    width: 100%;
}

/* -------------------------------------------------------------FOOTER- */

.footer {
    font-size: large;
    font-weight: 2px;
    color: grey;
}

/*----------------------------------------------------- GET-IN-TOUCH */

.container {
    align-items: center;
    text-align: center;
    width: 90%;
    height: 80vh;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    margin-top: 40px;
}

.container h1 {
    color: white;
    font-size: 3.5em;
    letter-spacing: 0.2em;
}

.content {
    display: flex;
    width: 100%;
    position: relative;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.397), rgba(175, 175, 175, 0.397));
    height: 70%;
    border-radius: 7px;
}

/* -----------------------------------------LEFT-BOX */

.left-box {
    flex-basis: 50%;
    height: 100%;

}

.left-box h2 {
    color: white;
    font-size: 1.7em;
    font-weight: 300;
}

/* -------------------------------------------------FORM */

.form {
    display: flex;
    justify-content: space-around;
}

form {
    text-align: left;
}

label {
    color: white;
    border: none;
    font-size: 1.3em;
    font-weight: 100;
    position: relative;
}

label.message {
    position: relative;
    outline: none;
    color: white;
}

input {
    background: none;
    border-style: none;
    border-bottom: ridge;
    position: relative;
    outline: none;
    font-family: cursive;
    color: white;
}

textarea {
    background: none;
    border-style: none;
    border-bottom: ridge;
    position: relative;
    font-family: cursive;
    color: white;
    outline: none;
    box-sizing: border-box;
}

/* -------------------------------------------------SUBMIT-BUTTON */

button.btn2 {
    margin: 48px 0px 0px 0px;
    padding: 9px;
    font-family: 'Rancho', cursive;
    font-size: 27px;
    background: none;
    border: 2px solid white;
    border-radius: 21px;
    color: whitesmoke;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px 4px 9px 0px rgb(255 255 255 / 75%);
}

.btn2:hover span {
    width: 100%;
}

/* -------------------------------------RIGHT-BOX */

.right-box {
    flex-basis: 50%;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: wrap;
}

.right-box h2 {
    color: white;
    font-weight: 300;
    font-size: 1.7em;
}

div.rphone {
    padding-bottom: 3px;
    font-size: 18px;
}

div.remail {
    font-size: 20px;
    letter-spacing: 1px;
    font-variant: common-ligatures;
}

p.add {
    font-size: 20px;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.fa-tty {
    border: 2px solid white;
    padding: 10px;
    margin-bottom: 21px;
    border-radius: 7px;
}

.fa-mountain-city {
    border: 2px solid white;
    padding: 10px;
    border-radius: 7px;
}

.follow {
    align-items: center;
    color: white;
    font-weight: 300;
}

.fa-instagram {
    font-size: large;
    border: 2px solid white;
    padding: 6px;
    font-size: x-large;
    border-radius: 7px;
}

/* -------------------------------------------------ABOUT-US */

.about-us-container {
    align-items: center;
    text-align: center;
    width: 90%;
    height: 80vh;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    margin-top: 40px;
}

.about-us-container h1 {
    color: white;
    font-size: 3.5em;
    letter-spacing: 0.2em;
}

.about-us-content {
    display: flex;
    width: 100%;
    position: relative;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.397), rgba(175, 175, 175, 0.397));
    height: 70%;
    border-radius: 7px;
}

/* ----------------------------------------ABOUT-US-LEFT-BOX */

.au-left-box {
    flex-basis: 50%;
    height: 100%;
}

.au-left-box h2 {
    color: white;
    font-size: 1.8em;
    font-weight: 300;
    letter-spacing: 2px;
}

.au-left-box p {
    color: white;
    font-size: 1.3em;
    font-weight: 100;
    position: relative;
    letter-spacing: 1px;
    padding: 15px;
}

/* --------------------------------------------ABOUT-US-RIGHT-BOX */

.au-right-box {
    flex-basis: 50%;
    color: white;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    padding: 13px 7px;
    letter-spacing: 1px
}

.fa-fingerprint {
    border: 2px solid white;
    padding: 10px 8px;
    border-radius: 15px;
    color: white;
    font-size: xx-large;
}

.fa-eye {
    border: 2px solid white;
    padding: 10px 8px;
    border-radius: 13px;
    color: white;
    font-size: xx-large;
}

.fa-hand-fist {
    border: 2px solid white;
    padding: 10px 14px;
    border-radius: 13px;
    color: white;
    font-size: xx-large;
}

.fa-scale-balanced {
    border: 2px solid white;
    padding: 10px 6px;
    border-radius: 14px;
    color: white;
    font-size: xx-large;
}

/* ---------------------------------------JOIN-COMMUNITY */
.join h1 {
    text-align: center;
    color: white;
    margin-top: 20%;
}

@media only screen and (max-width: 600px) {

    .navigation {
        font-size: 15px;
        display: grid;
        padding: 0% 0%;
    }

    li {
        display: flex;
        position: relative;
        justify-content: center;
    }

    button.btn {
        border: 1px solid white;
        border-radius: 17px;
        margin: 0px 4px;
        padding: 2px 5px;
        font-size: 4px;
        box-shadow: 0px 2px 4px 0px rgba(255, 255, 255, 0.75);
    }

    .right {
        top: -5px;
    }

    .mid {
        font-size: smaller;
    }

    .mid h2 {
        font-size: smaller;
    }

    button.btn1 {
        margin: 2px;
        padding: 4px;
        font-size: 5px;
        border: 1px solid white;
        box-shadow: 0px 2px 4px 0px rgb(255 255 255 / 75%);
    }

    .footer {
        bottom: -28%;
        font-size: 5px;
        color: grey;
    }

    /* -----------------------------------------------Get-In-Touch */
    .container {
        margin-top: 0px;
        height: 75%;
    }

    .container h1 {
        font-size: 2rem;
        letter-spacing: 2px;
        word-spacing: 5px;
    }

    .content {
        display: grid;
        height: 65%;
    }

    .left-box h2 {
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 2px;
    }

    label {
        font-size: 10px;
    }

    input {
        font-size: 8px;
        font-family: none;
    }

    textarea {
        font-size: 8px;
        font-family: none;
    }

    button.btn2 {
        padding: 4px;
        font-size: 10px;
        border: 1px solid white;
        box-shadow: 0px 2px 4px 0px rgb(255 255 255 / 75%)
    }

    body {
        background-color: rgb(48 50 51);
    }

    .right-box {
        background: -webkit-linear-gradient(rgba(0, 0, 0, 0.397), rgba(175, 175, 175, 0.397));
        justify-content: center;
        align-content: center;
        border-radius: 7px;
    }

    .right-box h2 {
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 2px;
    }

    .right-box div {
        padding: 2px;
    }

    .fa-tty {
        border: none;
        padding: 3px;
        margin-bottom: 11px;
        border-radius: none;
    }

    .fa-instagram {
        border: none;
        padding: 3px;
        font-size: 19px;
        border-radius: none;
    }

    .fa-mountain-city {
        border: none;
        padding: 5px;
        border-radius: none;
        font-size: 15px;
    }

    div.rphone {
        font-size: 9px;
    }

    div.remail {
        font-size: 10px;
        letter-spacing: 1px;
    }

    p.add {
        font-size: 10px;
        word-spacing: 1px;
        letter-spacing: 0px;
    }

    .about-us-container {
        height: 37%;
        margin-top: 0px;
    }

    .about-us-container h1 {
        font-size: 2rem;
        letter-spacing: 2px;
        word-spacing: 5px;
    }

    .about-us-content {
        display: grid;
        height: 65%;
    }

    .au-left-box h2 {
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 2px;
    }

    .au-left-box p {
        font-size: 12px;
        padding: 13px;
    }
    .au-right-box{
        background: -webkit-linear-gradient(rgba(0, 0, 0, 0.397), rgba(175, 175, 175, 0.397));
        justify-content: center;
        align-content: center;
        border-radius: 7px;
        height: 85%;
    }

    .fa-fingerprint {
        border: 1px solid white;
        padding: 5px 4px;
        border-radius: 7px;
        font-size: 16px;
    }

    .fa-hand-fist {
        border: 1px solid white;
        padding: 4px 6px;
        border-radius: 7px;
        font-size: 18px;
    }
    .fa-eye {
        border: 1px solid white;
        padding: 5px 4px;
        border-radius: 7px;
        font-size: 16px;
    }
    .fa-scale-balanced {
        border: 1px solid white;
        padding: 5px 3px;
        border-radius: 6px;
        font-size: 16px;
    }
    .au-right-box h2{
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 2px;
    }
    .au-right-box p{
        font-size: 12px;
    }
    .join h1{
        font-size: 16px;
    }
    
}